<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="previous">Prev</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}" class="previous">Prev</a>
    {% endif %}
  {% else %}
    <span class="previous">Prev</span>
  {% endif %}
  <!--<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span> -->
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
