////////// vars //////////////

$title_and_date_color: #999
$text_color: #444
$emphasis_color: #BC7134
$wistia_blue: #81c2f0
$index_link_color: #1B56E0
$padding: 25px

//////////////////////////////
/////////// fonts ////////////

@import url(http://fonts.googleapis.com/css?family=Lato)

/////////////////////////////
/////////// imports /////////

@import compass/css3

/////////////////////////////

// Mixins //
=fontskis
  font-family: 'Lato', Verdana, Helvetica, sans-serif

=darken-text($color)
  color: darken($color, 5%)

=breakpoint($point)
  @if $point == extra-large-screen
    @media (max-width: 1441px) 
      @content
  @if $point == medium-screen
    @media (max-width: 1279px)
      @content
  @if $point == small-screen
    @media (max-width: 768px)
      @content

// Common Shtuff //

body,h1,h2,h3,p,a,li
  +fontskis

h1,h2
  margin: 0

a:hover
  text-decoration: underline

#container
  margin: $padding auto

header#main_header h1
  +fontskis
  font-size: 58px
  text-align: center
  margin-bottom: -8px
  a, a:hover
    color: $title_and_date_color
    text-decoration: none

.content
  font-size: 1.5rem
  padding: $padding

// post index page //

ul.post_index
  line-height: 200%
  padding: 0
  li
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
.post_index_list_item
  list-style-position: inside
.post_index_title
  text-decoration: none
  color: $index_link_color
  &:hover
    +darken-text($index_link_color)
    text-decoration: none
.date
  text-align: right
  +breakpoint(small-screen)
    text-align: left
.date_span
  font-size: $padding/2
  color: $title_and_date_color

// post stuff //

#post
  // title block //
  .title_and_date
    text-align: center
    margin-bottom: $padding*2
    h1
      +fontskis
      font-size: 40px
      color: $text_color 
    .date
      font-size: 14px
      color: $title_and_date_color
  // content //
  .post_content
    color: $text_color
    h2
      font-size: 3.2rem
      color: $text_color
    p
      +fontskis
      font-size: 17px
      line-height: 160%
      margin-top: $padding
      a
        color: $emphasis_color
    blockquote
      padding: 0 0 0 18px
      border-left: 10px solid $emphasis_color
      margin-left: 0
      font-style: italic
      p
        margin: 0
  .opening_quote
    text-align: left
    font-size: 120%
    font-weight: bold
    width: 252px
    +darken-text($text_color)
  .comments
    margin-top: $padding*2

  // Post Images //
  .post_banner_image
    text-align: center
    img
      +single-box-shadow
  .post_image
    text-align: center
    img
      border: 4px solid #DDD

// SPANS //

.terminal
  color: #0f0
.comment
  color: red

.bottom_border
  border-bottom: 1px solid $title_and_date_color

.codez
  background: black
  padding: 5px
  padding-left: 10px
  margin: $padding 0

code
  font-size: 13px
  font-family: monospace
  font-style: normal
  line-height: 16px

// Utility Classes //

.float_left
  float: left

// right column //

.right_col
  text-align: right
  vertical-align: top
  margin-top: 32px
  #bio
    position: relative
    +breakpoint(small-screen)
      text-align: center
      width: 100%
    p
      font-size: 1.5rem
      color: $title_and_date_color
      a
        color: $wistia_blue
