////////// vars //////////////

$main_title_and_date_color: #999
$title_color: #444
$emphasis_color: #BC7134
$wistia_blue: #81c2f0
$index_link_color: #1B56E0
$padding: 25px

//////////////////////////////
/////////// fonts ////////////

@import url(http://fonts.googleapis.com/css?family=Lato)
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400italic)

@font-face
  font-family: "SSSocial"
  src: url('/fonts/ss-social-circle.eot')
  src: url('/fonts/ss-social-circle.eot?#iefix') format('embedded-opentype'), url('/fonts/ss-social-circle.woff') format('woff'), url('/fonts/ss-social-circle.ttf') format('truetype'), url('/fonts/ss-social-circle.svg#SSSocialCircle') format('svg')
  font-weight: bold
  font-style: normal


/////////////////////////////
/////////// imports /////////

@import compass/css3

/////////////////////////////

// Mixins //
=fontskis
  font-family: 'Lato', Verdana, Helvetica, sans-serif

=darken-text($color)
  color: darken($color, 5%)

=breakpoint($point)
  @if $point == extra-large-screen
    @media (max-width: 1441px) 
      @content
  @if $point == medium-screen
    @media (max-width: 1279px)
      @content
  @if $point == small-screen
    @media (max-width: 768px)
      @content

=callout-text($color, $opacity: .6)
  padding-left: 15px
  border-left: 10px solid rgba($color, $opacity)
  margin-left: 0

=bottom_border($color: $text_color)
  border-bottom: 1px solid #DDD


// placeholders //

%header_font
  font:
    family: 'Gentium Book Basic', serif
    style: italic

// Common Shtuff //

body,p,a,li
  +fontskis

h1,h2,h3
  @extend %header_font
  margin: 0

a:hover
  text-decoration: underline

#container
  margin: $padding auto

#main_header
  border-bottom: 1px solid #DDD  
  h1
    +fontskis
    font-size: 58px
    text-align: center
    margin-bottom: -8px
    +breakpoint(small-screen)
      font-size: 48px
    a, a:hover
      color: #DDD
      text-decoration: none
      +text-shadow(-1px -1px 0 rgba(#141414, 0.3))

.content
  font-size: 1.5rem
  padding: $padding

// post index page //

ul.post_index
  line-height: 200%
  padding: 0
  li
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
.post_index_list_item
  list-style-position: inside
  &.title
    +breakpoint(small-screen)
      margin-bottom: 0
.post_index_title
  text-decoration: none
  color: $index_link_color
  &:hover
    +darken-text($index_link_color)
    text-decoration: none
.date
  text-align: right
  +breakpoint(small-screen)
    text-align: left
.date_span
  font-size: $padding/2
  color: $main_title_and_date_color

// post stuff //

#post
  // title block //
  .title_and_date
    text-align: center
    margin-bottom: $padding*2
    h1
      @extend %header_font
      font-size: 44px
      color: $title_color 
      margin-bottom: 0
    .date
      font-size: 14px
      color: $main_title_and_date_color
  // content //
  .post_content
    color: $title_color
    +fontskis
    h2
      font-size: 3.2rem
      color: $title_color
    p
      font-size: 17px
      line-height: 160%
      margin-top: $padding
      a
        color: $emphasis_color
    blockquote
      font-style: italic
      line-height: 150%
      font-size: 22px
      +callout-text($emphasis_color, .6)
      +darken-text($title_color)
      p
        margin: 0
  .opening_quote
    text-align: left
    font-size: 120%
    font-weight: bold
    width: 252px
    +darken-text($title_color)
  .comments
    margin-top: $padding*2

  // Post Images //
  .post_banner_image
    text-align: center
    img
      +single-box-shadow
  .post_image
    text-align: center
    img
      border: 4px solid #DDD

// SPANS //

.terminal
  color: #0f0
.comment
  color: red


.codez
  background: black
  padding: 5px
  padding-left: 10px
  margin: $padding 0

code
  font-size: 13px
  font-family: monospace
  font-style: normal
  line-height: 16px

.disclaimer
  +callout-text(yellow, .4)

// Utility Classes //

.float_left
  float: left

// right column //

.right_col
  text-align: right
  vertical-align: top
  margin-top: 32px
  #bio
    position: relative
    +breakpoint(small-screen)
      text-align: center
      width: 100%
    #bio_pic
      background: transparent url(http://gravatar.com/avatar/236b71872405f00ef210cded00a8fd93) center no-repeat
      margin-bottom: 10px
      height: 80px
      width: 80px
    p
      font-size: 1.5rem
      color: $main_title_and_date_color
      text-align: center
      margin-bottom: 10px
      a
        color: $wistia_blue

/// icons ///

@import 'ss_icons'

.right_col #bio p a
  &.icon
    color: #DDD
    font-size: 22px
    &:hover
      color: #81C2F0
      text-decoration: none
    &:before
      font-family: 'SSSocial'
      font-style: normal
      speak: none
      font-weight: normal
      -webkit-font-smoothing: antialiased
      text-decoration: none

  &.ss-twitter:before, .ss-twitter.right:after
    @extend .ss-twitter
  &.ss-octocat:before, .ss-octocat.right:after
    @extend .ss-octocat
  &.ss-mail:before, .ss-octocat.right:after
    @extend .ss-mail
