!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8" }
    %meta{ :name => "author", :content => "Jeff Vincent" }
    %link{ rel: 'stylesheet', href: '/stylesheets/screen.css' }
    %link{ rel: 'stylesheet', href: '/stylesheets/font-awesome.min.css' }
    %link{ rel: 'stylesheet', href: '/stylesheets/prism.css' }
    %meta{ name: 'viewport', content: 'width=device-width' }

    %title
      A Beginner's Life - {{ page.title }}
    :plain
      {% include g_analytics.js %}
  %body
    .container
      #main_header
        %h1
          %a{ href: "/" } A Beginner's Life
        {% if page.homepage == true %}{% include bio.html %}{% endif %}
      %section
        {{ content }}

    {% include tracking_js.html %}
    {% include app_js.html %}
