!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => "text/html;charset=utf-8" }
    %meta{ :name => "author", :content => "Your Name" }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/screen.css' }
    %title
      A Beginner's Life - {{ page.title }}
    :plain
      {% include g_analytics.js %}
  %body
    #container
      %header.bottom_border
        %h1
          %a{ href: "/" } A Beginner's Life
      %section
        {{ content }}
        .right_col
          {% include bio.html %}
