\---
layout: base
comments: true
\---

.content
  #post
    .title_and_date
      %h1 {{ page.title }}
      %span.date {{ page.date | date: "%B %d, %Y" }}
    .post_content
      {{ content }}
    .comments
      {% include disqus.html %}
    .year
      %span
        &mdash; 
        %a{ href: '//plus.google.com/114606800539750076812/', rel: 'publisher' }
          made in {{ page.date | date: "%Y" }} 
        &mdash;
