\---
layout: base
comments: true
\---

.content
  #post
    .title_and_date
      %h1 {{ page.title }}
      %span.date {{ page.date | date: "%B %d, %Y" }}
    .post_content
      {{ content }}
    .row
      .twelve.columns
        .comments
          {% include disqus.html %}
