\---
layout: base
comments: true
share: true
\---

.content
  #post
    .title_and_date
      %h1 {{ page.title }}
      %span.date {{ page.date | date: "%B %d, %Y" }}
    .post_content
      {{ content }}
    .share
      {% include shareaholic.html %}
    .comments
      {% include disqus.html %}
