%a.icon.ss-twitter.ss-social-circle{ href: 'http://www.twitter.com/jeffvincent', target: '_blank' }
%a.icon.ss-octocat.ss-social-circle{ href: 'http://www.github.com/jeffvincent', target: '_blank' }
%a.icon.ss-mail.ss-social-circle{ href: 'mailto:jeff@wistia.com', target: '_blank' }
