/* line 8, ../_sass/ie.scss */
div.panel {
  border: 1px solid #cccccc;
}

/* line 12, ../_sass/ie.scss */
.lt-ie8 .nav-bar li.has-flyout a {
  padding-right: 20px;
}
/* line 14, ../_sass/ie.scss */
.lt-ie8 .nav-bar li.has-flyout a:after {
  border-top: none;
}

/* line 18, ../_sass/ie.scss */
.lt-ie8 input[type=submit].nice.button {
  filter: chroma(color=black);
  position: relative;
  top: -2px;
}

/* line 23, ../_sass/ie.scss */
.lt-ie8 input[type=submit].tiny.button {
  padding: 5px 5px 7px;
}

/* line 26, ../_sass/ie.scss */
.lt-ie8 input[type=submit].small.button {
  padding: 8px 7px 9px;
}

/* line 29, ../_sass/ie.scss */
.lt-ie8 input[type=submit].medium.button {
  padding: 9px 13px 9px;
}

/* line 32, ../_sass/ie.scss */
.lt-ie8 input[type=submit].large.button {
  padding: 9px 18px 10px;
}
