@import url(http://fonts.googleapis.com/css?family=Lato);
/* line 47, ../_sass/screen.sass */
body, h1, h2, h3, p, a, li {
  font-family: "Lato", Verdana, Helvetica, sans-serif;
}

/* line 50, ../_sass/screen.sass */
h1, h2 {
  margin: 0;
}

/* line 53, ../_sass/screen.sass */
a:hover {
  text-decoration: underline;
}

/* line 56, ../_sass/screen.sass */
#container {
  margin: 25px auto;
}

/* line 59, ../_sass/screen.sass */
header#main_header h1 {
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-size: 58px;
  text-align: center;
  margin-bottom: -8px;
}
/* line 64, ../_sass/screen.sass */
header#main_header h1 a, header#main_header h1 a:hover {
  color: #999999;
  text-decoration: none;
}

/* line 68, ../_sass/screen.sass */
.content {
  font-size: 1.5rem;
  padding: 25px;
}

/* line 74, ../_sass/screen.sass */
ul.post_index {
  line-height: 200%;
  padding: 0;
}
/* line 77, ../_sass/screen.sass */
ul.post_index li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 81, ../_sass/screen.sass */
.post_index_list_item {
  list-style-position: inside;
}

/* line 83, ../_sass/screen.sass */
.post_index_title {
  text-decoration: none;
  color: #1b56e0;
}
/* line 86, ../_sass/screen.sass */
.post_index_title:hover {
  color: #184dc9;
  text-decoration: none;
}

/* line 89, ../_sass/screen.sass */
.date {
  text-align: right;
}
@media (max-width: 768px) {
  /* line 89, ../_sass/screen.sass */
  .date {
    text-align: left;
  }
}

/* line 93, ../_sass/screen.sass */
.date_span {
  font-size: 12.5px;
  color: #999999;
}

/* line 101, ../_sass/screen.sass */
#post .title_and_date {
  text-align: center;
  margin-bottom: 50px;
}
/* line 104, ../_sass/screen.sass */
#post .title_and_date h1 {
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-size: 40px;
  color: #444444;
}
/* line 108, ../_sass/screen.sass */
#post .title_and_date .date {
  font-size: 14px;
  color: #999999;
}
/* line 112, ../_sass/screen.sass */
#post .post_content {
  color: #444444;
}
/* line 114, ../_sass/screen.sass */
#post .post_content h2 {
  font-size: 3.2rem;
  color: #444444;
}
/* line 117, ../_sass/screen.sass */
#post .post_content p {
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 160%;
  margin-top: 25px;
}
/* line 122, ../_sass/screen.sass */
#post .post_content p a {
  color: #bc7134;
}
/* line 124, ../_sass/screen.sass */
#post .post_content blockquote {
  font-style: italic;
  line-height: 150%;
  font-size: 22px;
  padding-left: 15px;
  border-left: 10px solid rgba(188, 113, 52, 0.6);
  margin-left: 0;
  color: #373737;
}
/* line 130, ../_sass/screen.sass */
#post .post_content blockquote p {
  margin: 0;
}
/* line 132, ../_sass/screen.sass */
#post .opening_quote {
  text-align: left;
  font-size: 120%;
  font-weight: bold;
  width: 252px;
  color: #373737;
}
/* line 138, ../_sass/screen.sass */
#post .comments {
  margin-top: 50px;
}
/* line 142, ../_sass/screen.sass */
#post .post_banner_image {
  text-align: center;
}
/* line 144, ../_sass/screen.sass */
#post .post_banner_image img {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 146, ../_sass/screen.sass */
#post .post_image {
  text-align: center;
}
/* line 148, ../_sass/screen.sass */
#post .post_image img {
  border: 4px solid #dddddd;
}

/* line 153, ../_sass/screen.sass */
.terminal {
  color: lime;
}

/* line 155, ../_sass/screen.sass */
.comment {
  color: red;
}

/* line 158, ../_sass/screen.sass */
.bottom_border {
  border-bottom: 1px solid #999999;
}

/* line 161, ../_sass/screen.sass */
.codez {
  background: black;
  padding: 5px;
  padding-left: 10px;
  margin: 25px 0;
}

/* line 167, ../_sass/screen.sass */
code {
  font-size: 13px;
  font-family: monospace;
  font-style: normal;
  line-height: 16px;
}

/* line 173, ../_sass/screen.sass */
.disclaimer {
  padding-left: 15px;
  border-left: 10px solid rgba(255, 255, 0, 0.4);
  margin-left: 0;
}

/* line 178, ../_sass/screen.sass */
.float_left {
  float: left;
}

/* line 183, ../_sass/screen.sass */
.right_col {
  text-align: right;
  vertical-align: top;
  margin-top: 32px;
}
/* line 187, ../_sass/screen.sass */
.right_col #bio {
  position: relative;
}
@media (max-width: 768px) {
  /* line 187, ../_sass/screen.sass */
  .right_col #bio {
    text-align: center;
    width: 100%;
  }
}
/* line 192, ../_sass/screen.sass */
.right_col #bio #bio_pic {
  background: transparent url(http://gravatar.com/avatar/236b71872405f00ef210cded00a8fd93) no-repeat;
  height: 80px;
  margin: 0px auto 5px;
  width: 80px;
}
/* line 197, ../_sass/screen.sass */
.right_col #bio p {
  font-size: 1.5rem;
  color: #999999;
  text-align: center;
  margin-bottom: 10px;
}
/* line 202, ../_sass/screen.sass */
.right_col #bio p a {
  color: #81c2f0;
}
