@import url(http://fonts.googleapis.com/css?family=Lato);
/* line 21, ../_sass/screen.sass */
body {
  font-family: "Lato", Verdana, Helvetica, sans-serif;
}

/* line 24, ../_sass/screen.sass */
h1, h2 {
  margin: 0;
}

/* line 27, ../_sass/screen.sass */
#container {
  width: 900px;
  margin: 30px auto;
}

/* line 30, ../_sass/screen.sass */
header {
  width: 700px;
  margin: 0 auto;
}
/* line 33, ../_sass/screen.sass */
header h1 {
  font-size: 58px;
  text-align: center;
  margin-bottom: -8px;
}
/* line 37, ../_sass/screen.sass */
header h1 a {
  color: #999999;
  text-decoration: none;
}

/* line 41, ../_sass/screen.sass */
.related ul {
  line-height: 200%;
  padding: 0;
}
/* line 44, ../_sass/screen.sass */
.related li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 49, ../_sass/screen.sass */
.index_post_title {
  text-decoration: none;
  color: #1b56e0;
}
/* line 52, ../_sass/screen.sass */
.index_post_title:hover {
  color: #0024ae;
}

/* line 55, ../_sass/screen.sass */
section {
  width: 920px;
  margin: 0 auto;
  margin-left: 100px;
}
/* line 59, ../_sass/screen.sass */
section .content {
  display: inline-block;
  width: 650px;
  padding: 25px;
  /* for IE */
  zoom: 1;
  *display: inline;
}
/* line 66, ../_sass/screen.sass */
section .content .index_list {
  list-style-position: inside;
  display: inline-block;
  /* for IE */
  zoom: 1;
  *display: inline;
}
/* line 72, ../_sass/screen.sass */
section .content .title {
  width: 70%;
}
/* line 74, ../_sass/screen.sass */
section .content .date {
  text-align: right;
  width: 29%;
}
/* line 77, ../_sass/screen.sass */
section .content .date_span {
  font-size: 14px;
  color: #999999;
}
/* line 80, ../_sass/screen.sass */
section .content #post {
  margin: 0 auto;
}
/* line 82, ../_sass/screen.sass */
section .content #post .post_banner_image {
  text-align: center;
}
/* line 84, ../_sass/screen.sass */
section .content #post .post_banner_image img {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 86, ../_sass/screen.sass */
section .content #post .post_image {
  text-align: center;
}
/* line 88, ../_sass/screen.sass */
section .content #post .post_image img {
  border: 4px solid #dddddd;
}
/* line 90, ../_sass/screen.sass */
section .content #post .float_left {
  float: left;
}
/* line 92, ../_sass/screen.sass */
section .content #post .title_and_date {
  text-align: center;
  margin-bottom: 40px;
}
/* line 95, ../_sass/screen.sass */
section .content #post .title_and_date h1 {
  font-size: 40px;
  color: #444444;
}
/* line 98, ../_sass/screen.sass */
section .content #post .title_and_date .date {
  font-size: 14px;
  color: #999999;
}
/* line 101, ../_sass/screen.sass */
section .content #post .post_content {
  color: #444444;
}
/* line 103, ../_sass/screen.sass */
section .content #post .post_content p {
  font-size: 15px;
  line-height: 26px;
}
/* line 106, ../_sass/screen.sass */
section .content #post .post_content p a {
  color: #bc7134;
}
/* line 108, ../_sass/screen.sass */
section .content #post blockquote {
  color: #bc7134;
}
/* line 110, ../_sass/screen.sass */
section .content #post blockquote:hover {
  color: #8a3f02;
}
/* line 112, ../_sass/screen.sass */
section .content #post .opening_quote {
  text-align: left;
  font-size: 120%;
  color: #121212;
  font-weight: bold;
  width: 252px;
}
/* line 118, ../_sass/screen.sass */
section .content #post .share {
  margin-left: 124px;
}
/* line 120, ../_sass/screen.sass */
section .content #post .comments {
  margin-top: 60px;
}
/* line 122, ../_sass/screen.sass */
section .right_col {
  width: 200px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  margin: 8px 0 0 17px;
  /* for IE */
  zoom: 1;
  *display: inline;
}
/* line 131, ../_sass/screen.sass */
section .right_col #bio {
  width: 150px;
  position: relative;
  right: -46px;
}
/* line 135, ../_sass/screen.sass */
section .right_col #bio p {
  text-align: right;
  color: #999999;
}
/* line 138, ../_sass/screen.sass */
section .right_col #bio p a {
  color: #81c2f0;
}

/* line 141, ../_sass/screen.sass */
.terminal {
  color: lime;
}

/* line 143, ../_sass/screen.sass */
.comment {
  color: red;
}

/* line 146, ../_sass/screen.sass */
.bottom_border {
  border-bottom: 1px solid #999999;
}

/* line 149, ../_sass/screen.sass */
.codez {
  background: black;
  padding: 5px;
  padding-left: 10px;
}

/* line 154, ../_sass/screen.sass */
code {
  font-size: 13px;
  font-family: monospace;
  font-style: normal;
  line-height: 16px;
}
