@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato);
@font-face {
  font-family: "SSSocial";
  src: url("/fonts/ss-social-circle.eot");
  src: url("/fonts/ss-social-circle.eot?#iefix") format("embedded-opentype"), url("/fonts/ss-social-circle.woff") format("woff"), url("/fonts/ss-social-circle.ttf") format("truetype"), url("/fonts/ss-social-circle.svg#SSSocialCircle") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* line 58, ../_sass/screen.sass */
body, h1, h2, h3, p, a, li {
  font-family: "Lato", Verdana, Helvetica, sans-serif;
}

/* line 61, ../_sass/screen.sass */
h1, h2 {
  margin: 0;
}

/* line 64, ../_sass/screen.sass */
a:hover {
  text-decoration: underline;
}

/* line 67, ../_sass/screen.sass */
#container {
  margin: 25px auto;
}

/* line 70, ../_sass/screen.sass */
#main_header {
  border-bottom: 1px solid #dddddd;
}
/* line 72, ../_sass/screen.sass */
#main_header h1 {
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-size: 58px;
  text-align: center;
  margin-bottom: -8px;
}
/* line 77, ../_sass/screen.sass */
#main_header h1 a, #main_header h1 a:hover {
  color: #dddddd;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(20, 20, 20, 0.3);
}

/* line 82, ../_sass/screen.sass */
.content {
  font-size: 1.5rem;
  padding: 25px;
}

/* line 88, ../_sass/screen.sass */
ul.post_index {
  line-height: 200%;
  padding: 0;
}
/* line 91, ../_sass/screen.sass */
ul.post_index li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 95, ../_sass/screen.sass */
.post_index_list_item {
  list-style-position: inside;
}
@media (max-width: 768px) {
  /* line 97, ../_sass/screen.sass */
  .post_index_list_item.title {
    margin-bottom: 0;
  }
}

/* line 100, ../_sass/screen.sass */
.post_index_title {
  text-decoration: none;
  color: #1b56e0;
}
/* line 103, ../_sass/screen.sass */
.post_index_title:hover {
  color: #184dc9;
  text-decoration: none;
}

/* line 106, ../_sass/screen.sass */
.date {
  text-align: right;
}
@media (max-width: 768px) {
  /* line 106, ../_sass/screen.sass */
  .date {
    text-align: left;
  }
}

/* line 110, ../_sass/screen.sass */
.date_span {
  font-size: 12.5px;
  color: #999999;
}

/* line 118, ../_sass/screen.sass */
#post .title_and_date {
  text-align: center;
  margin-bottom: 50px;
}
/* line 121, ../_sass/screen.sass */
#post .title_and_date h1 {
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-size: 40px;
  color: #444444;
}
/* line 125, ../_sass/screen.sass */
#post .title_and_date .date {
  font-size: 14px;
  color: #999999;
}
/* line 129, ../_sass/screen.sass */
#post .post_content {
  color: #444444;
}
/* line 131, ../_sass/screen.sass */
#post .post_content h2 {
  font-size: 3.2rem;
  color: #444444;
}
/* line 134, ../_sass/screen.sass */
#post .post_content p {
  font-family: "Lato", Verdana, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 160%;
  margin-top: 25px;
}
/* line 139, ../_sass/screen.sass */
#post .post_content p a {
  color: #bc7134;
}
/* line 141, ../_sass/screen.sass */
#post .post_content blockquote {
  font-style: italic;
  line-height: 150%;
  font-size: 22px;
  padding-left: 15px;
  border-left: 10px solid rgba(188, 113, 52, 0.6);
  margin-left: 0;
  color: #373737;
}
/* line 147, ../_sass/screen.sass */
#post .post_content blockquote p {
  margin: 0;
}
/* line 149, ../_sass/screen.sass */
#post .opening_quote {
  text-align: left;
  font-size: 120%;
  font-weight: bold;
  width: 252px;
  color: #373737;
}
/* line 155, ../_sass/screen.sass */
#post .comments {
  margin-top: 50px;
}
/* line 159, ../_sass/screen.sass */
#post .post_banner_image {
  text-align: center;
}
/* line 161, ../_sass/screen.sass */
#post .post_banner_image img {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 163, ../_sass/screen.sass */
#post .post_image {
  text-align: center;
}
/* line 165, ../_sass/screen.sass */
#post .post_image img {
  border: 4px solid #dddddd;
}

/* line 170, ../_sass/screen.sass */
.terminal {
  color: lime;
}

/* line 172, ../_sass/screen.sass */
.comment {
  color: red;
}

/* line 176, ../_sass/screen.sass */
.codez {
  background: black;
  padding: 5px;
  padding-left: 10px;
  margin: 25px 0;
}

/* line 182, ../_sass/screen.sass */
code {
  font-size: 13px;
  font-family: monospace;
  font-style: normal;
  line-height: 16px;
}

/* line 188, ../_sass/screen.sass */
.disclaimer {
  padding-left: 15px;
  border-left: 10px solid rgba(255, 255, 0, 0.4);
  margin-left: 0;
}

/* line 193, ../_sass/screen.sass */
.float_left {
  float: left;
}

/* line 198, ../_sass/screen.sass */
.right_col {
  text-align: right;
  vertical-align: top;
  margin-top: 32px;
}
/* line 202, ../_sass/screen.sass */
.right_col #bio {
  position: relative;
}
@media (max-width: 768px) {
  /* line 202, ../_sass/screen.sass */
  .right_col #bio {
    text-align: center;
    width: 100%;
  }
}
/* line 207, ../_sass/screen.sass */
.right_col #bio #bio_pic {
  background: transparent url(http://gravatar.com/avatar/236b71872405f00ef210cded00a8fd93) no-repeat;
  height: 80px;
  margin: 0px auto 5px;
  width: 80px;
}
/* line 212, ../_sass/screen.sass */
.right_col #bio p {
  font-size: 1.5rem;
  color: #999999;
  text-align: center;
  margin-bottom: 10px;
}
/* line 217, ../_sass/screen.sass */
.right_col #bio p a {
  color: #81c2f0;
}

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
/* line 2, ../_sass/_ss_icons.sass */
html:hover [class^="ss-"] {
  -ms-zoom: 1;
}

/* line 5, ../_sass/_ss_icons.sass */
.ss-icon, .ss-icon.ss-social, .ss-icon.ss-social-circle,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"][class*=" ss-social"]:before, [class*=" ss-"][class*=" ss-social"]:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"][class*=" ss-social"].right:after, [class*=" ss-"][class*=" ss-social"].right:after {
  font-family: "SSSocial";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga" Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* line 25, ../_sass/_ss_icons.sass */
.ss-icon.ss-social-circle,
[class^="ss-"].ss-social-circle:before, [class*=" ss-"].ss-social-circle:before,
[class^="ss-"].ss-social-circle.right:after, [class*=" ss-"].ss-social-circle.right:after {
  font-weight: bold;
}

/* line 30, ../_sass/_ss_icons.sass */
[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: "";
}

/* line 36, ../_sass/_ss_icons.sass */
.ss-twitter:before, .right_col #bio p a.ss-twitter:before:before, .right_col #bio p a .ss-twitter.right:before:after, .ss-twitter.right:after, .right_col #bio p a.right.ss-twitter:after:before, .right_col #bio p a .right.ss-twitter:after:after {
  content: "";
}

/* line 38, ../_sass/_ss_icons.sass */
.ss-octocat:before, .right_col #bio p a.ss-octocat:before:before, .right_col #bio p a .ss-octocat.right:before:after, .ss-octocat.right:after, .right_col #bio p a.right.ss-octocat:after:before, .right_col #bio p a .right.ss-octocat:after:after {
  content: "";
}

/* line 40, ../_sass/_ss_icons.sass */
.ss-mail:before, .right_col #bio p a.ss-mail:before:before, .right_col #bio p a .ss-octocat.right:before:after, .right_col #bio p a a.right.ss-octocat:before:after:before, .ss-mail.right:after, .right_col #bio p a.right.ss-mail:after:before, .right_col #bio p a .right.ss-octocat:after:after, .right_col #bio p a a.right.ss-octocat:after:after:before {
  content: "✉";
}

/* line 225, ../_sass/screen.sass */
.right_col #bio p a.icon {
  color: #dddddd;
  font-size: 22px;
}
/* line 228, ../_sass/screen.sass */
.right_col #bio p a.icon:hover {
  color: #81c2f0;
  text-decoration: none;
}
/* line 231, ../_sass/screen.sass */
.right_col #bio p a.icon:before {
  font-family: "SSSocial";
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
