<!DOCTYPE html>
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html;charset=utf-8' http-equiv='Content-Type'>
    <meta content='Jeff Vincent' name='author'>
    <link href='/stylesheets/screen.css' rel='stylesheet'>
    <link href='/stylesheets/font-awesome.min.css' rel='stylesheet'>
    <link href='/stylesheets/prism.css' rel='stylesheet'>
    <meta content='width=device-width' name='viewport'>
    <title>
      A Beginner's Life - {{ page.title }}
    </title>
    {% include g_analytics.js %}
  </head>
  <body>
    <div class='container'>
      <div id='main_header'>
        <h1>
          <a href='/'>A Beginner's Life</a>
        </h1>
      </div>
      <section>
        {{ content }}
      </section>
    </div>
    {% include tracking_js.html %}
    {% include app_js.html %}
  </body>
</html>
