---
layout: base
---
<div class='content'>
  <div id='post'>
    <div class='title_and_date'>
      <h1>{{ page.title }}</h1>
      <div class='date'>
        <i class='icon-time'></i>
        <span>
          {{ page.content | number_of_words append: '.0' | divided_by:180 | append: ' min read' }}
        </span>
      </div>
    </div>
    <div class='post_content'>
      {{ content }}
      <div class='post_script'>
        <p>
          <span class='bold'>P.S.</span>
          Every week, I send out a short newsletter with links to my favorite
          articles. When I write a new essay, that will be
          included as well.
          <a href='http://eepurl.com/UpDZz' target='_blank'>Sign up</a>
          to get your copy.
        </p>
      </div>
    </div>
    <div class='year'>
      <span>
        &mdash;
        <a href='//plus.google.com/114606800539750076812/' rel='publisher'>
          made in {{ page.date | date: "%Y" }}
        </a>
        &mdash;
      </span>
    </div>
  </div>
</div>
