---
layout: base
---
<div class='content'>
  <div id='post'>
    <div class='title_and_date'>
      <h1>{{ page.title }}</h1>
      <div class='date'>
        <span>{{ page.date | date: "%B %d, %Y" }}</span>
        <i class='icon-time'></i>
        <span>
          {{ page.content | number_of_words append: '.0' | divided_by:180 | append: ' min read' }}
        </span>
      </div>
    </div>
    <div class='post_content'>
      {{ content }}
    </div>
    <div class='year'>
      <span>
        &mdash;
        <a href='//plus.google.com/114606800539750076812/' rel='publisher'>
          made in {{ page.date | date: "%Y" }}
        </a>
        &mdash;
      </span>
    </div>
  </div>
</div>
